.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 1px solid #f3f4f6;
    border: 1px solid #ececec;
    border-radius: 0.5rem;
}
.title {
	font-size: 1.0rem;
	font-weight: 400;
	color: #333;
}
.tag {
	margin-left: 12px;
	font-size: 0.95rem;
	font-weight: 400;
	color: #6366f1;
	background: #f3f4f6;
	border-radius: 6px;
	padding: 2px 10px;
}
