
.text-box {
  width: 100%;
  padding: 0.75em 1em;
  font-size: 0.75rem;
  font-family: inherit;
  border: 1px solid var(--color-grey-30);
  border-radius: 0.5em;
  background-color: #eeeded;
  color: #414141;
  resize: vertical;
  box-sizing: border-box;
  transition: border-color 0.2s, background 0.2s;
}
.text-box:focus {
  background: #ececec;
  
  border: 1px solid var(--color-grey-30);
}

.textbox-label {
  font-weight: 300;
  color: var(--color-grey-70, #666);
  font-size: 0.8rem;
  margin-bottom: 0.4em;
  text-align: left;
  display: block;
}

