.navbar {
  width: 100vw;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1000;
  background: var(--color-grey-5, #fcfcfc);
  border-bottom: 1px solid var(--color-grey-20, #e0e1e5);
  padding: 0.5em 3.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  margin-left: 0;
  right: 0;
}

.navbar-content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

.navbar-btn {
  background: var(--color-blue-40, #000000);
  color: #fff;
  border: none;
  border-radius: 0.4em;
  padding: 0.3em 0.7em;
  font-size: 0.85em;
  cursor: pointer;
  transition: background 0.2s;
}
.navbar-btn:hover {
  background: var(--color-blue-60, #1666B7);
}
