.weeklyCounterBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.weeklyCounterHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  color: #3b3b3b;
  font-weight: 500;
}
.calendarIcon {
  color: #6366f1;
  font-size: 1.2em;
}
.weeklyCounterText {
  font-size: 1rem;
  font-weight: 500;
  color: #444;
  margin-top: 2px;
  text-align: center;
}
