.score-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0.75rem 0;
  font-family: inherit;
  height: 100%;
}
.score-label {
  font-weight: 400;
  font-size: 1rem;
  color: #2d2d2d;
  margin-bottom: 0;
}
.score-value {
  font-weight: 300;
  font-size: 1rem;
  color: #2d2d2d;
}
