#root {
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh; /* Ensure it fills the viewport height */
  width: 100vw; /* Ensure it fills the viewport width */
  background-color: #f8f8f8; /* Add grey background */
}


.card {
  padding: 2em;
}
