.board {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  overflow-x: auto;
  margin-top: 2rem;
  height: calc(100vh - 4rem);
}
